body
{
    background-color: rgb(246, 204, 189);
}
a{
        
    background-color:#83f69c;
    color:rgb(2, 2, 2);
    width: 10%;
    text-align:center;
    padding: 15px;
    text-decoration: none;
    border-radius:15px;
    
}
a:hover{
    background-color: #ff0000;
    color:black;
    opacity: 1;
}
section
{   padding-top: 15px;
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 15px;
    text-align:left;
    margin:10px;
    display:flex;
    flex-direction:column;
    background-color:rgb(221, 253, 190);
    border:1px solid gray;
}
pre{
    font-size: 15px;
}
mark { 
    background-color: yellow;
    color: black;
  }
.textcolor{
    color: red;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #020202;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }